/*--------------------------------------------------------------Base/Global Styling*/

html, body {
    height: 1vh;
}

h1, h3, h4 {
    color: #009fe3;
}

h2 {
    color: #56585a;
    font-size: 52px;
}

a {
    transition: color 0.5s ease;
}

ul li {
    color: #596fa6;
}

.main_container {
    background: url(img/visual-12.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 50px;
    padding: 0px;
    min-height: calc(100vh - 100px);
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

.navbar-custom {
    background-color: black;
    background-image: none;
}

.navbar-default .navbar-toggle{
    border-color: #009fe3;
    transition: background-color 0.5s ease;
}
    .navbar-default .navbar-toggle:focus {
        background-color: black;
    }


    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active{
        background-color: #009fe3;
        border-color: #009fe3;
    }




.navbar-default .navbar-brand {
    font-size: 34px;
    font-family: 'Karla', sans-serif;
    display: block;
}

._brand_text {
    float: left;
    margin-left: 5px;
}

.sub-brand {
    font-size: 15px;
    display: initial;
    padding-top: 3px;
}

._logo_img {
    height: 40px; 
    width: auto;
    float: left;
    margin-top: -9px;
}

.navbar-default .navbar-brand:hover {
    background-color: black;
    color: #009fe3;
}

.nav .navbar-nav .navbar-right{
    margin-top:20px!important
}


.active_menu {
    color: #009fe3 !important;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: black;
    color: #009fe3;
}

.landing_text_box {}

.top_container {
    padding:0px;
    height:500px;
    overflow:hidden;
}
.banner_img {
    display:block;
    margin:auto;
    width:100%;
}

.banner_cta {
    position:absolute;
    top:100px;
    right:30%;
    border: 3px solid #009fe3;
    border-radius: 3px;
    background-color: white;
    min-height: 80px
}

.landing_text_box {
    border: 3px solid #009fe3;
    border-radius: 3px;
    background-color: white;
    min-height: 300px
}

.container_img {
width: 100%
}

.about_container {
    max-width:1080px;
margin-top: 30px;
margin-bottom: 30px;
}

.solution_container {
    max-width:1080px;
    margin-top: 30px;
    margin-bottom: 30px;
    }
    




._footer {
    border-top: 1px solid #009fe3;
    background-color: black;
    color: #009fe3;
    min-height:50px;
}
